<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>
<h2>The great messages of The Great Minesweeper!</h2>

<br>

<table border=4 cellspacing=3 cellpadding=20>
  <thead>
    <tr>
      <th>Usage</th>
      <th>Body</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.usage %></td>
        <td><%= message.body %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= button_to 'Destroy', {action: :destroy, id: message.id}, method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
